
body, html {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif, arial;
}

.kontaktform{
max-width: 500px;
}

.margines{
padding-top: 15%;	
}

.card{
   min-height: 1px;
}


.card-img-top{
   min-height: 1px;
   
}

.logo{
	height: 45px;
}

.third{
	width: 70%;
}


.card-footer{
    
    background-color: rgba(0,0,0,0);
    border-top: 0px solid rgba(0,0,0,0);
    padding-top: 0;

}


.card-deck .card {
    margin-bottom: 15px;
}

.card-body {
    padding-bottom: 0.8rem;
}






.card:hover {
   animation: borderAnim 1s forwards, shadowAnim 1s forwards;  

}

@keyframes borderAnim {
  from {
    border: 1px solid rgba(0, 0, 0, 0);
  }
  to {
     border: 1px solid rgba(0, 0, 0, 0.3);
  }
}
@keyframes shadowAnim {
  from {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  to {
    -webkit-box-shadow: 3px 3px 20px -5px rgba(0,0,0,0.61);
    -moz-box-shadow: 3px 3px 20px -5px rgba(0,0,0,0.61);
    box-shadow: 3px 3px 20px -5px rgba(0,0,0,0.61);
  }
}
