<% include header %>

<div class="container mt-5 mb-5 pt-4">
<h4>Skontaktuję się w ciągu 1 dnia roboczego.</h4>

<a class="btn btn-primary btn-sm btn-block mt-2" href="/" role="button">Powrót do strony głównej</a>
</div>

<% include footer %>