<% include header %>


<div class="container mt-5 mb-5 pt-4">

<div class="card-deck">
    
<div class="card bg-light" id="Promocja Rainline 2018.pdf"> 
    <img class="card-img-top" src="/5.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Akcje promocyjne</h5>
      <p class="card-text">Promocja skierowana do klientów B2B polegająca na gromadzeniu punktów w zależności od wielkości zamówienia.</p>
      </div>
       <div class="card-footer">
       <a class="btn btn-primary btn-sm" href="/Promocja Rainline 2018.pdf" target="_blank" role="button">Zobacz więcej</a>
    </div>
  </div>

  <div class="card bg-light" id="Ulotka_Lindab_Protect.pdf"> 
    <img class="card-img-top" src="/9.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Ulotki informacyjne</h5>
      <p class="card-text">Ulotka prezentująca najważniejsze dane o systemie wentylacji pożarowej Lindab Protect.</p>
      </div>
        <div class="card-footer">
        <a class="btn btn-primary btn-sm" href="/Ulotka_Lindab_Protect.pdf" target="_blank" role="button">Zobacz więcej</a>  
    </div>
  </div>

 <div class="card bg-light" id="Siłowniki.pdf"> 
    <img class="card-img-top" src="/6.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Promocja cenowa</h5>
      <p class="card-text">Akcja polegająca na przydzieleniu dodatkowego rabatu przy zakupie za podaną kwotę.</p>
       </div>
        <div class="card-footer">
       <a class="btn btn-primary btn-sm" href="/siłowniki.pdf" target="_blank" role="button">Zobacz więcej</a>
     </div>
    
  </div>
</div>

<div class="card-deck">

 <div class="card bg-light" id="techniczne"> 
    <img class="card-img-top" src="/22.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Filmy techniczne</h5>
      <p class="card-text">Wideo w stylu "Jak to jest zrobione", prezentujące proces produkcji systemów wentylacyjnych. </p>
      </div>
      <div class="card-footer">
           <a class="btn btn-primary btn-sm" href="https://www.youtube.com/watch?v=3EJOERIKeLc" target="_blank" role="button">Zobacz więcej</a>
      </div>
    </div>
  </div>

<div class="card-deck">
  <div class="card bg-light" id="spoty"> 
      <img class="card-img-top" src="/11.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Spoty internetowe</h5>
        <p class="card-text">Materiał przeznaczony do Social Media, promujący szkolenia z montażu i serwisu klimatyzatorów. </p>
         </div>
        <div class="card-footer">
        <a class="btn btn-primary btn-sm" href="https://www.youtube.com/watch?v=Jsil57vnbLE" target="_blank" role="button">Zobacz więcej</a>
      </div>
    </div>

<div class="card bg-light" id=animacje> 
    <img class="card-img-top" src="/13.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Animacje</h5>
      <p class="card-text">Połączenie animacji 3d i wideo, wyjaśniające zasady działania systemu wentylacyjnego w domu. </p>
      </div>
      <div class="card-footer">
      <a class="btn btn-primary btn-sm" href="https://www.youtube.com/watch?v=HDr0rlH-Cdw" target="_blank" role="button">Zobacz więcej</a>
    </div>
  </div>

 <div class="card bg-light" id="instrukcje"> 
    <img class="card-img-top" src="/12.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Wideo-instrukcje</h5>
      <p class="card-text">Samouczek pokazujący jak samodzielnie zamontować moduł Wi-Fi w centrali Vent-Axia.</p>
     </div>
     <div class="card-footer">
     <a class="btn btn-primary btn-sm" href="https://www.youtube.com/watch?v=9kYqANCBBCE" target="_blank" role="button">Zobacz więcej</a>
    </div>
  </div>

  </div>


<div class="card-deck">
    <div class="card bg-light" id="player">
    <img class="card-img-top" src="/20.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Targi branżowe</h5>
      <p class="card-text">Projekt, budowa i pomoc w obsłudze stoiska Lindab na Targach Forum Wentylacja 2018. Budowa odbyła się przy współpracy z zewnętrzną firmą.</p>
      </div>
      <div class="card-footer">
      <a class="btn btn-primary btn-sm" href="/player" role="button">Zobacz więcej</a>
     </div>

</div>
</div>

<div class="card-deck">
   
<div class="card bg-light" id="VA.jpg"> 
    <img class="card-img-top" src="/10.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Ulotki informacyjne</h5>
      <p class="card-text">Ulotka promująca nowy rekuperator Vent-Axia Kinetic Advance.  </p>
      </div>
       <div class="card-footer">
       <a class="btn btn-primary btn-sm" href="/VA.jpg" target="_blank" role="button">Zobacz więcej</a>
    </div>
  </div>

   <div class="card bg-light" id="UltraLink_210x297+5mm.jpg">
    <img class="card-img-top" src="/4.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Reklamy prasowe i ulotki</h5>
      <p class="card-text">Reklama Lindab UltraLink wydrukowana w magazynie "Cyrkulacje".</p>
       </div>
       <div class="card-footer">
        <a class="btn btn-primary btn-sm" href="/UltraLink_210x297+5mm.jpg" target="_blank" role="button">Zobacz więcej</a>
    </div>
</div>

 <div class="card bg-light" id="Dachowa_i_rynnowa.pdf"> 
    <img class="card-img-top" src="/1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Wsparcie sprzedaży</h5>
      <p class="card-text">Promocja skierowana do odbiorców detalicznych.</p>
       </div>
        <div class="card-footer">
       <a class="btn btn-primary btn-sm" href="/Dachowa_i_rynnowa.pdf" target="_blank" role="button">Zobacz więcej</a>
    </div>
  </div>
  </div>
 
<div class="card-deck" >
 <div class="card bg-light" id="Lindab_Rainline.pdf"> 
    <img class="card-img-top" src="/19.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Broszury</h5>
      <p class="card-text">12-stronna broszura, która szczegółowo prezentuje system rynnowy Lindab Rainline. Broszura została wydrukowana w kilku tysiącach egzemplarzy i wykorzystana również w innych krajach. </p>
        </div>
 <div class="card-footer">
       <a class="btn btn-primary btn-sm" href="/Lindab_Rainline.pdf" target="_blank" role="button">Zobacz więcej</a>
    </div>
  </div>
  </div>


  <div class="card-deck">
   
<div class="card bg-light" id="7.jpg"> 
    <img class="card-img-top" src="/7.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Tablice informacyjne</h5>
      <p class="card-text">Tablica opisująca zasadę działania systemu Lindab Pascal.</p>
      </div>
       <div class="card-footer">
       <a class="btn btn-primary btn-sm" href="/Pascal_Tablica 950x550mm.jpg" target="_blank" role="button">Zobacz więcej</a>
    </div>
  </div>

<div class="card bg-light" id=8.jpg> 
    <img class="card-img-top" src="/8.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Wizualizacje 3d</h5>
      </div>
       <div class="card-footer">
      <p class="card-text">Projekt 3d wystawki sklepowej, który wykonałem dla marki Glibbi.</p>
          <a class="btn btn-primary btn-sm" href="/porownanie.png" target="_blank" role="button">Zobacz więcej</a>
    </div>
  </div>
 </div>
 

 </div>




<% include footer %>
