<% include header %>

<div class="container mt-5 pt-4">

<div class="embed-responsive embed-responsive-16by9">
 <iframe width="560" height="315" src="https://www.youtube.com/embed/NAydBNwr_3g?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<a class="btn btn-primary btn-sm btn-block mt-2" href="/" role="button">Powrót do strony głównej</a>
</div>

<% include footer %>